@import url(./reset.css);
@import url(./fonts.css);

#root {width: 100%;height: 100%;
    #wrap {
        width: 100%;
        height: 100%;
        z-index: 1;
        position: relative;
        #loginWrap {
            width: 100%;
            height: 100%;
            z-index: 2;
            position: relative;
            .container {width: 100%;height: 100%;
                .gap {width: 100%;height: 100%;
                    .wrap {width: 100%;height: 100%;
                        .top {
                            width: 100%;
                            height: 1032px;
                            margin-top: 32px;
                            padding: 0 0 32px;
                            display: flex;
                            .slide-container {
                                width: 400px;
                                height: 582px;
                                margin: auto 0 auto auto;
                                .slide-view {
                                    width: 100%;
                                    height: 100%;
                                    margin: auto 32px 12px auto;
                                    position: relative;
                                    &::before {
                                        content: '';
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        width: 100%;
                                        height: 100%;
                                        background: url(../images/slide_00.png) 50% 50% no-repeat;
                                        background-size: cover;
                                    }
                                    .slide-wrap {
                                        width: 100%;
                                        height: 100%;
                                        position: relative;
                                        .slide {
                                            width: 230px;
                                            height: 100%;
                                            position: absolute;
                                            top: 22px;
                                            right: 40px;
                                            img {width: 100%;height: auto;}
                                        }
                                    }
                                }
                            }
                            .login-box {
                                width: 350px;
                                margin: auto auto auto 0;
                                .login-wrap {
                                    width: 100%;
                                    height: 400px;
                                    padding: 10px 0;
                                    margin-bottom: 10px;
                                    border: 1px solid #dbdbdb;
                                    text-align: center;
                                    #loginForm {
                                        .logo-box {margin: 4px 0;
                                            a {width: 175px; height: 51px;
                                                img {width: 175px;height: auto;}
                                            }
                                        }
                                        .input-box {height: 88px;
                                            > li {
                                                width: 268px;
                                                height: 38px;
                                                margin: 0 auto 6px auto;
                                                border: 1px solid #dbdbdb;
                                                border-radius: 3px;
                                                position: relative;
                                                transition: all .2s ease-in-out;
                                                &.on {border: 1px solid #898989;
                                                    label .guide-txt {
                                                        font-size: 10px;
                                                        line-height: 12px;
                                                        transition: all .3s ease-in-out;
                                                        vertical-align: text-top;
                                                    }
                                                }
                                                label {
                                                    .guide-txt {
                                                        width: 250px;
                                                        height: 36px;
                                                        z-index: 2;
                                                        position: absolute;
                                                        top: 0;
                                                        left: 8px;
                                                        color: #8e8e8e;
                                                        font-size: 12px;
                                                        line-height: 36px;
                                                        text-align: left;
                                                    }
                                                    input {
                                                        width: 258px;
                                                        height: 36px;
                                                        z-index: 1;
                                                        position: absolute;
                                                        top: 0;
                                                        left: 0;
                                                        padding: 9px 0 7px 8px;
                                                        border: none;
                                                        color: #262626;
                                                        font-size: 12px;
                                                        line-height: 18px;
                                                        &:focus {outline: none;}
                                                    }
                                                }
                                            }
                                        }
                                        .btn-box {
                                            width: 268px;
                                            height: 30px;
                                            margin: 8px auto;
                                            button {
                                                width: 100%;
                                                height: 100%;
                                                border: none;
                                                border-radius: 3px;
                                                text-align: center;
                                                background: rgba(0, 149, 246, .3);
                                                font-size: 14px;
                                                font-weight: 600;
                                                line-height: 18px;
                                                color: #fff;
                                            }
                                        }
                                    }
                                    .or-box {
                                        width: 100%;
                                        height: 15px;
                                        margin: 10px auto 18px auto;
                                        .back-line {
                                            height: 1px;
                                            width: 103px;
                                            display: inline-block;
                                            background: #dbdbdb;
                                        }
                                        span {
                                            font-size: 13px;
                                            font-weight: 600;
                                            line-height: 15px;
                                            color: #8e8e8e;
                                            margin: 0 18px;
                                        }
                                    }
                                    .facebook-box {
                                        width: 100%;
                                        height: 20px;
                                        margin:  15px 0 20px 0;
                                        button {
                                            .facebook-logo {
                                                width: 16px;
                                                height: 16px;
                                                margin-right: 8px;
                                                display: inline-block;
                                                background: url(../images/facebook_ico.png) 50% 50% no-repeat;
                                                background-size: cover;
                                            }
                                            span {
                                                font-size: 14px;
                                                font-weight: 600;
                                                line-height: 18px;
                                                color: #385185;
                                            }
                                        }
                                    }
                                    a {
                                        width: 100%;
                                        height: 16px;
                                        font-size: 12px;
                                        font-weight: 400;
                                        line-height: 16px;
                                        color: #00376b;
                                    }
                                }
                                .sign-up-box {
                                    width: 100%;
                                    height: 63px;
                                    padding: 10px 0;
                                    margin-bottom: 10px;
                                    border: 1px solid #dbdbdb;
                                    div {text-align: center;
                                        p {
                                            width: 100%;
                                            height: 18px;
                                            margin: 10px 0;
                                            font-size: 14px;
                                            font-weight: 400;
                                            line-height: 18px;
                                            a {
                                                color: #0095f6;
                                                font-weight: 600;
                                                vertical-align: text-top;
                                                margin-left: 3px;
                                            }
                                        }
                                    }
                                }
                                .app-box {
                                    p {
                                        width: 100%;
                                        height: 18px;
                                        margin: 10px 0;
                                        text-align: center;
                                        font-size: 14px;
                                        font-weight: 400;
                                        line-height: 18px;
                                    }
                                    .link-box {
                                        display: flex;
                                        margin: 20px auto 10px auto;
                                        justify-content: center;
                                        a {
                                            width: 136px;
                                            height: 44px;
                                            margin: 0 4px;
                                            img {width: 136px;height: auto;}
                                        }
                                    }
                                } 
                            }
                            
                        }
                        .footer {
                            width: 100%;
                            height: 134px;
                            padding: 0 16px;
                            .footer-box {
                                margin-bottom: 52px;
                                > ul {
                                    width: 100%;
                                    height: 23px;
                                    margin-top: 24px;
                                    display: flex;
                                    justify-content: center;
                                    li {
                                        height: 11px;
                                        font-size: 12px;
                                        line-height: 18px;
                                        margin: 0 8px 12px 8px;
                                        a {color: #8e8e8e;}
                                    }
                                }
                                .footer-bottom {
                                    display: flex;
                                    justify-content: center;
                                    margin: 12px 0;
                                    .language-box {
                                        > div {
                                            p {}
                                            i {}
                                        }
                                        .language-select {
                                            option {}
                                        }
                                    }
                                    div {
                                        p {
                                            height: 11px;
                                            font-size: 12px;
                                            line-height: 18px;
                                            margin: 0 8px 12px 8px;
                                            color: #8e8e8e;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        #mainWrap {
            width: 100%;
            height: 100%;
            z-index: 2;
            position: relative;
            header {
                width: 100%;
                height: 60px;
                border-bottom: 1px solid rgb(219,219,219);
                .container {width: 975px;height: 100%;margin: auto;
                    .gap {width: 100%;height: 100%;
                        .wrap {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            padding: 0 20px;
                            .logo-box {
                                width: 103px;
                                height: 100%;
                                float: inline-start;
                                a {width: 100%;display: inline-block;
                                    img {width: 100%;height: auto;}
                                }
                            }
                            .search-box {
                                width: 268px;
                                height: 36px;
                                padding: 0 16px;
                                border-radius: 8px;
                                margin: auto;
                                background: #efefef;
                                label {
                                    .fa-search {
                                        width: 16px;
                                        height: 100%;
                                        font-size: 16px;
                                        line-height: 34px;
                                        color: rgb(142, 142, 142);
                                    }
                                    input {
                                        width: auto;
                                        height: 100%;
                                        padding: 0 0 0 16px;
                                        border: none;
                                        outline: none;
                                        font-size: 16px;
                                        color: #8e8e8e;
                                        background: #efefef;
                                    }
                                }
                            }
                            .nav-box {
                                width: auto;
                                height: 100%;
                                float: inline-end;
                                nav {height: 100%;
                                    .menu-list {height: 100%;display: flex;
                                        .menu-item {
                                            width: 24px;
                                            height: 24px;
                                            margin: auto 4px auto 4px;
                                            justify-self: center;
                                            position: relative;
                                            a {
                                                width: 100%;
                                                height: 100%;
                                                display: inline-block;
                                                i {
                                                    font-size: 18px;
                                                    display: inline-block;
                                                    margin: auto;
                                                    &.user-ico {display: inline-block; width: 24px;height: 24px;background: url(../images/img10.jpg) 50% 50% no-repeat;background-size: cover;border-radius: 50%;}
                                                }
                                                
                                            }
                                            .user-menu {
                                                width: 230px;
                                                height: 287px;
                                                position: absolute;
                                                z-index: 3;
                                                top: 60px;
                                                right: 0;
                                                background: #fff;
                                                border-radius: 6px;
                                                box-shadow: -5px 3px 10px rgba(0, 0, 0, .1);
                                                ul {
                                                    width: 100%;
                                                    height: 100%;
                                                    li {
                                                        width: 230px;
                                                        height: 37px;
                                                        margin-bottom: 4px;
                                                        padding: 8px 16px;
                                                        &:last-child {border-top: 1px solid rgb(218,221,225);}
                                                        a {
                                                            width: 100%;
                                                            height: 100%;
                                                            text-align: left;
                                                            i {
                                                                width: 16px;
                                                                height: 21px;
                                                                font-size: 17px;
                                                                line-height: 12px;
                                                                margin-right: 12px;
                                                            }
                                                            span {
                                                                font-size: 14px;
                                                                line-height: 18px;
                                                                vertical-align: text-top;
                                                            }
                                                             
                                                        }
                                                        .logout-btn {}
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            main {width: 100%;height: 100%;
                .container {width: 100%;height: 100%;
                    .gap {width: 100%;height: 100%;
                        .wrap {width: 100%;height: 100%;display:flex;justify-content: center;
                            section {
                                width: 470px;
                                height: 100%;
                                margin: 10px 32px 0 0;
                                .story-box {
                                    width: 470px;
                                    height: 119px;
                                    margin-top: 16px;
                                    padding: 16px 0;
                                    border: 1px solid rgb(219,219,219);
                                    border-radius: 8px;
                                    .story-feed {

                                        .story {}
                                    }
                                }
                                .post-box {
                                    width: 470px;
                                    height: 100%;
                                    margin-top: 16px;
                                    border: 1px solid rgb(219,219,219);
                                    border-radius: 8px;
                                    .post-feed {
                                        .post-list {
                                            .post {
                                                .top {}
                                                .center {}
                                                .bottom {}
                                            }
                                        }
                                    }
                                }
                            }
                            aside {
                                width: 319px;
                                .login-info {
                                    width: 100%;
                                    height: 66px;
                                    margin: 26px 0 10px 0;
                                    display: flex;
                                    justify-content: space-between;
                                    a {
                                        width: auto;
                                        height: 100%;
                                        &:nth-child(2) {margin: auto auto auto 0;}
                                        img {width: 66px;height: 100%;margin-right: 10px;border-radius: 50%;}
                                        .login-name {
                                            height: 30px;
                                            margin: auto;
                                            font-size: 14px;
                                            font-weight: 600;
                                            line-height: 30px;
                                        }
                                        button {
                                            margin: auto 0 auto auto;
                                            font-size: 12px;
                                            font-weight: 600;
                                            line-height: 66px;
                                            color: #0095f6;
                                        }
                                    }
                                }
                                .recommend-box {
                                    width: 100%;
                                    height: 100%;
                                    .recommend-more {
                                        height: 19px;
                                        padding: 4px 0;
                                        display: flex;
                                        justify-content: space-between;
                                        p {
                                            font-size: 14px;
                                            font-weight: 600;
                                            line-height: 18px;
                                            color: rgb(142,142,142);
                                        }
                                        button {
                                            font-size: 12px;
                                            font-weight: 600;
                                            line-height: 16px;
                                            float: inline-end;
                                        }
                                    }
                                    .recommend-list {
                                        width: 100%;
                                        height: 48px;
                                        padding: 8px 0;
                                        .recommend-user {display: flex;justify-content:space-between;
                                            a {
                                                width: auto;
                                                height: 100%;
                                                &:nth-child(2) {margin: auto auto auto 0;}
                                                img {width: 42px;height: 42px;margin-right: 10px;border-radius: 50%;}
                                                .recommend-name {
                                                    height: 30px;
                                                    margin: auto;
                                                    font-size: 14px;
                                                    font-weight: 600;
                                                    line-height: 18px;
                                                    display: block;
                                                }
                                                .recommend-txt {
                                                    height: 30px;
                                                    margin: auto;
                                                    font-size: 14px;
                                                    font-weight: 600;
                                                    line-height: 18px;
                                                    color: #8e8e8e;
                                                    display: block;
                                                }
                                                button {
                                                    margin: auto 0 auto auto;
                                                    font-size: 12px;
                                                    font-weight: 600;
                                                    line-height: 60px;
                                                    color: #0095f6;
                                                }
                                            }
                                        }
                                    }
                                }
                                .footer {
                                    .footer-list {
                                        .footer-item {
                                            a {}
                                        }
                                    }
                                    span {}
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}